* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
  grid-template-areas:
    "header header"
    "navbar body";
}

/* DASHBOARD : HEADER */
.dashboard-header {
  grid-area: header;
  background: #fcdddf;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-bottom: 1px solid gray;
  /* position: relative; */
}

.burger {
  position: absolute;
  left: 20px;
  display: none;
  cursor: pointer;
}

/*  DASHBOARD : NAVBAR */
.dashboard-navbar {
  grid-area: navbar;
  background: #e0acb0;
  padding: 20px;
  transition: 0.3s ease;
  /* display: grid; */
  /* align-content: space-between; */
}

.dashboard-navbar ul {
  list-style: none;
  margin-top: 30px;
}

.dashboard-navbar ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  text-decoration: none;
  color: #333;
  border-radius: 10px;
  transition: 0.3s;
}

.dashboard-navbar ul li a:hover {
  background: #c47b82;
  color: white;
}

/* PROFILE */
.navbar-profile {
  text-align: center;
}

.navbar-profile img {
  object-fit: cover;
  border-radius: 100%;
}

/* DASHBOARD : CONTENT */
.dashboard-content {
  overflow-y: auto;
  max-height: calc(100vh - 60px);
  grid-area: body;
  background: #fef1eb;
  padding: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
  text-align: left;
}

.rectangle {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition-duration: 0.5s;

  &:hover {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
}

.background-1 {
  background: #d9e1d1;
  border: 2px solid #b6c1aa;
}
.background-2 {
  background: #ffbaba;
  border: 2px solid #f4b0b0;
}
.background-3 {
  background: #fff6f2;
  border: 2px solid #b8b3b0;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: #61616154;
  display: none;
  z-index: 998;
}

.overlay.active {
  display: block;
}

/* DESKTOP & TABLET */
@media (min-width: 720px) {
  .dashboard-header {
    grid-area: header;
    grid-column: 2;
  }

  .dashboard-navbar {
    grid-area: navbar;
    grid-row: 1 / span 2;
  }

  .dashboard-content {
    /* overflow-y: auto; */
    grid-area: body;
    grid-column: 2;
  }
}

/* ANDROID */
@media (max-width: 719px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
      "header"
      "body";
  }

  .burger {
    display: block;
  }

  .dashboard-navbar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    width: 250px;
    z-index: 999;
  }

  .dashboard-navbar.active {
    left: 0;
  }

  .dashboard-content {
    grid-column: 1;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .color-3 {
    grid-column: span 2;
  }

  .card-container span {
    font-size: 25px;
  }

  .attendance a {
    font-size: 1rem;
  }
}

/* ATTENDANCE */
.attendance {
  padding: 1rem;
  margin: 1rem 0 0 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 1px 0 #4a3f35;
  background-color: #fef1eb;
}

.attendance-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0px 9px 0px 9px; */

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a3f35;
    transition: 0.3s;
    text-decoration: none;
    &:hover {
      color: #c47b82;
    }
  }
}



/* tabel  */
.list-attendance {
  overflow-x: auto;
  width: 100%;
  max-width: 100%;
  margin: 1rem 0 0;
  border-radius: 10px;
  box-shadow: 0 0 1px 0 #4a3f35;
  background: #fff;
}

td {
  padding: 5px;
  max-width: 120px; /* atur lebar sesuai kebutuhan */
  white-space: nowrap; /* biar gak turun baris */
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}

/* Memberikan warna pada baris genap (even) */
tr:nth-child(even) {
  background-color: #f2f2f2; /* Warna abu-abu muda */
}

/* Kamu juga bisa mewarnai baris ganjil (odd) jika mau */
tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Tambahan: Efek saat baris disentuh (hover) agar lebih jelas */
tr:hover {
  background-color: #e2e8f0;
}

table {
  border-radius: 10px;
  border-collapse: collapse;
  min-width: 600px; /* Memaksa tabel lebih lebar dari layar HP */
  overflow: hidden;
  width: 100%;
}
table tr th {
  background-color: #e8b4b8;
  padding: 0.5em;
}
table tr td {
  padding: 0.5em;
}
.icon-edit {
  color: #222;
  text-decoration: none;

  &:hover {
    color: #e8b4b8;
  }
}

/* ICON */
.icon {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  
}
.icon-edit {
  cursor: pointer;
}
.icon-box {
  margin: 0 0.5rem 0 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.35em;
  background: linear-gradient(#f794a4, #fdd6bd);
  border: 2px solid #E98FA1;
  color: #64172E;
}
.icon-circle {
  border-radius: 50%;
  margin: 0 0.5rem 0 0;
  padding: 0.35rem;
  background: #0005;
}

.status-icon {
  padding: 0.25rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}
.center-only {
  margin: 0 auto;
  width: fit-content;
}
.text-center {
  text-align: center;
  margin: 10px;
}
/* END ATTENDANCE */
