* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background:  #FDDDE4;
}

.grid {
  display: grid;
  gap: 1rem;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
}
.address,
.message {
  height: 3rem;
}

.attendances {
  display: flex;
  justify-content: space-evenly;
  border: 2px solid #4a3f35;
  border-radius: 15px;
  background: #FFF2DF ;
}

.hero-submit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  width: 350px;
}

h1 {text-align: center;}

input,
textarea {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 2px solid #4a3f35;
  background-color: #FFFAF3;
}

span {
  font-size: 20px;
  font-weight: bold;
}

.hero-input {
  max-width: 20rem;
  border: 2px solid #4a3f35;
  padding: 1.5rem;
  border-radius: 1rem;
  background: #FFFAF3;
}
/* Button Form */
.form-grup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-submit {
  gap: 15px;
  display: flex;
}
button {
  width: 100%;
  padding: 12px;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-update { 
    border: 1px solid #FF97B7;
    background: #FFF6F8;
    color: #F25F8F;
    &:hover {
        background: #F3003115;
    }
}
.btn-delete { 
    border: 1px solid #F6BECB;
    background: #FEF7F8;
    color: #F13F82;
    &:hover {
        background: #FF003924;
    }
}