<div class="burger" onclick="toggleMenu()">
  <span class="material-symbols-outlined">menu</span>
</div>

<!-- navbar | profile -->
<div class="navbar-profile">
  <img src="person.jpg" alt="profile" width="100"  height="100" />
  <p>Wercome</p>
  <h2>Ringo Start</h2>
</div>

<ul>
  <li data-aos="fade-right" data-aos-duration="1000">
    <a href="dashboardmember.php">
      <span class="material-symbols-outlined">home</span>Dashboard
    </a>
  </li>
  <li data-aos="fade-right" data-aos-duration="1400">
    <a href="messagesmember.php">
      <span class="material-symbols-outlined">comment</span>Messages
    </a>
  </li>
  <li data-aos="fade-right" data-aos-duration="1600">
    <a href="login.php">
      <span class="material-symbols-outlined">logout</span>logout
    </a>
  </li>
</ul>
